.gnb {
  font-family: $font-gnb;

  &-wrapper {
    width: 100%;
    @include column-flexbox;
    padding: 12px 0;
    border-bottom: 1px solid $primary;
  }

  .name {
    font-size: $sm-name-size;
    line-height: $sm-name-line;
    font-weight: 800;
    text-align: center;
    margin-bottom: 8px;
    cursor: pointer;
  }

  .menu {
    font-size: $sm-menu-size;
    line-height: $sm-menu-line;
    font-weight: 400;

    & ul {
      display: flex;
      justify-content: center;

      & li {
        margin-right: 24px;
        cursor: pointer;

        &:hover {
          color: $point;
          transition: color 200ms ease-in-out;
        }

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  .selected-menu {
    color: $point;

    &::after {
      content: ' ✨';
    }
  }

  @include responsive(T) {
    &-wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
    }

    .name {
      font-size: $lg-name-size;
      line-height: $lg-name-line;
      text-align: left;
      margin: 0;
    }

    .menu {
      font-size: $lg-menu-size;
      line-height: $lg-menu-line;

      & ul {
        justify-content: flex-end;

        & li {
          margin-right: 60px;
        }
      }
    }
  }
}
