.intro {
  &-item {
    margin-bottom: 24px;

    &-head {
      font-family: $font-gnb;
      font-weight: bold;
      margin-bottom: 8px;
    }

    &-body {
      font-family: $font-content;
      font-weight: normal;
    }
  }

  .interest-list li {
    margin-bottom: 8px;
  }

  .experience-list tr {
    vertical-align: top;

    & td {
      padding-bottom: 4px;
      // period
      &:nth-child(1) {
        width: 140px;
      }
      // work
      &:nth-child(2) {
        padding-left: 8px;
      }
    }
  }

  @include responsive(T) {
    &-item {
      margin-bottom: 40px;

      &-head {
        margin-bottom: 12px;
      }
    }

    .interest-list li {
      margin-bottom: 8px;
    }

    .experience-list tr {
      padding-bottom: 12px;

      & td {
        padding-bottom: 8px;
        // period
        &:nth-child(1) {
          width: 180px;
        }
        // work
        &:nth-child(2) {
          padding-left: 16px;
        }
      }
    }
  }
}
