.work {
  padding: 20px 0;

  &-wrapper {
    @include column-flexbox(start, between);
    margin-bottom: 20px;
  }

  &-group {
    @include flexbox(between, center);
  }

  &-type {
    font-family: $font-gnb;
    font-weight: bold;
    font-size: $font-size-12;
  }

  &-index {
    @include flexbox;

    .thumbnail-frame {
      width: 60px;
      height: 60px;
      margin-right: 8px;
      cursor: pointer;

      &:last-child {
        margin: 0;
      }
    }

    .thumbnail {
      width: 100%;
      height: 100%;

      // apply grayscale to unselected work thumbnail
      &-filter {
        filter: grayscale(100%);
        opacity: 50%;
        transition: filter opacity 0.5s ease-in-out;
        -webkit-filter: grayscale(100%);
        -webkit-transition: 0.5s ease-in-out;
        -moz-filter: grayscale(100%);
        -moz-transition: 0.5s ease-in-out;
        -o-filter: grayscale(100%);
        -o-transition: 0.5s ease-in-out;
      }
    }
  }

  &-link {
    color: $point;
    font-family: $font-gnb;
    text-align: center;
    height: 24px;
    @include flexbox;
    margin-bottom: 16px;

    a {
      font-size: 12px;
    }

    a strong {
      font-weight: 700;
    }
  }

  &-desc {
    color: $point;
    font-family: $font-content;
    font-size: 12px;
    font-weight: bold;
    height: 18px;
    border-bottom: 1px solid $point;
    margin: 48px 0 16px;
  }

  &-images {
    width: 100%;

    img {
      width: 100%;
      margin-bottom: 4px;

      &:last-child {
        margin: 0;
      }
    }
  }

  .top {
    // color&shape setting
    border: 2px solid $point;
    background-color: $point;
    color: $white;
    padding: 8px 0;
    margin: 20px 0;
    border-radius: 8px;
    // align elements
    @include flexbox;
    // font setting
    font-family: $font-gnb;
    font-size: $font-size-12;
    font-weight: 800;
    letter-spacing: 0.04em;
    line-height: $line-height-12;
    // interaction
    cursor: pointer;
    transition: all 0.25s ease-in-out;
  }

  @include responsive(T) {
    padding: 40px 0 24px;

    &-wrapper {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
    }

    &-group {
      @include column-flexbox;
      margin-right: 80px;

      &:last-child {
        margin: 0;
      }
    }

    &-type {
      margin-bottom: 24px;
      font-size: $font-size-16;
    }

    &-index {
      .thumbnail-frame {
        width: 84px;
        height: 84px;
        margin-right: 16px;
      }
    }

    &-link {
      margin-bottom: 24px;

      a {
        font-size: 16px;
        padding-top: 2px;
      }
    }

    &-desc {
      font-size: 16px;
      height: 24px;
      margin-top: 96px;
    }

    .top {
      padding: 12px 0;
      font-size: $font-size-16;
      line-height: $line-height-16;
    }
  }

  @include responsive(D) {
    // thumbnail hover effect
    &-index {
      .thumbnail-filter:hover {
        filter: grayscale(0%);
        opacity: 100%;
        transition: filter opacity 0.5s ease-in-out;
        -webkit-filter: grayscale(0%);
        -webkit-transition: 0.5s ease-in-out;
        -moz-filter: grayscale(0%);
        -moz-transition: 0.5s ease-in-out;
        -o-filter: grayscale(0%);
        -o-transition: 0.5s ease-in-out;
      }
    }

    &-link {
      a:hover {
        text-decoration: underline;
      }
    }

    // top button hover effect
    .top:hover {
      background-color: $white;
      color: $point;
    }
  }
}
