$font-gnb: 'Poppins', sans-serif;

$font-size-name: 20px;
$line-height-name: 28px;

$font-size-menu: 18px;
$line-height-menu: 24px;

$font-text: 'Spoqa Han Sans', sans-serif;

$font-size-text: 16px;
$line-height-text: 25px;
$letter-spacing-text: -0.01em;
