$font-gnb: 'Poppins', sans-serif;

$font-size-20: 20px;
$line-height-20: 28px;

$font-size-18: 18px;
$line-height-18: 24px;

$font-size-16: 16px;
$line-height-16: 22px;

$font-size-14: 14px;
$line-height-14: 20px;

$font-text: 'Spoqa Han Sans', sans-serif;

$font-size-16: 16px;
$line-height-16: 25px;
$letter-spacing-16: -0.01em;

$font-size-12: 12px;
$line-height-12: 18px;
$letter-spacing-12: -0.01em;
