$font-gnb: 'Poppins', sans-serif;

$lg-name-size: 20px;
$lg-name-line: 28px;

$lg-menu-size: 18px;
$lg-menu-line: 24px;

$sm-name-size: 16px;
$sm-name-line: 20px;

$sm-menu-size: 14px;
$sm-menu-line: 22px;

$font-content: 'Spoqa Han Sans', sans-serif;

$font-size-16: 16px;
$line-height-16: 22px;
$letter-spacing-16: -0.01em;

$font-size-12: 12px;
$line-height-12: 18px;
$letter-spacing-12: -0.01em;
